
body {
    margin:0;
}

h1 {
    font-family: 'Montserrat';
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit; 
    
}


/*START HEADER */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/forest.jpg);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.header-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-text {
display: flex;
flex-direction: row;
}

.header-portfolio {
    font-weight: bold;
}

.header-description h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}


.profile-pic {
    position: absolute;
    top: 350px;
    right: 20px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

/* icons and links  */

.header-links-container {
    display: flex;
    justify-content: flex-end; 
    padding-top: 120px; 
    max-width: 1250px;
} 

.header-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

.icon-linkedin, .icon-github, .icon-stack  { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    border: #ffffff solid 2px;
    border-radius: 50%;
    margin-right: 30px;
}

header .icon-linkedin,
header .icon-stack,
header .icon-github {
  width: 100%;
  height: 100%;
}
    

.icon-linkedin:hover,
.icon-stack:hover,
.icon-github:hover {
  border: #438a5e solid 3px;
}
    
.icon-linkedin { 
    background-image: url('./img/iconmonstr-linkedin-1.svg');
}
    
.icon-github { 
    background-image: url('./img/github.svg');
}

.icon-stack {
    background-image: url('./img/stackOverflow.svg');
}


.portfolio-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-text {
    font-weight: bold;
}

/*END OF HEADER*/

.aboutMe {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0;
    padding: 30px;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.tech h1  { 
    font-size: 22px;
    color: white;
    background-color: #438a5e;
    width: 120px;    
}    


/* fetured projects */
.fetured-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 20px;   
}

.fetured-projects-container a {
    margin: 10px;    
}


/*hidden on mobile */
.fetured-projects-hidden {
    display: none;
}

.fetured-projects-container h1 {
    font-size: 22px;
    color: white;
    background-color:#438a5e;  
    text-align: center;
    width: 250px; 
    text-decoration: none;
}


.fetured-projects-tech {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.fetured-projects-tech p {
    background-color:#cbe2b0;
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto';
    font-size: 17px;
}


.fetured-projects-title h2, .other-projects h2, .thougths h2  {
    font-family:'Montserrat';
    font-size: 17px;
    color:#247342;   
}

.featured-projects-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bbe1fa; 
    border: 5px solid #3282b8;
    max-width: 400px; 
    max-height: 270px; 
    cursor: pointer;
}

.featured-projects-img-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FAF0E6;; 
    border: 5px solid #ecd8bf;
    max-width: 400px;
    max-height: 270px;
}



.featured-projects-img {
    width: 40%;
    margin: 5px;
    margin-left: 15px;   
}


.other-projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    font-family: 'Montserrat';
    padding-top: 50px;
    padding: 10px
}

.other-projects-container h1 {
    text-align: center;
    color: #247342;  
}


.hidden-thougths-container h1 {
    font-size: 22px;
    color:#247342;   
    text-align: center;
    font-weight: bold;
}


.arrow-link {
    font-size: 22px;
    color:#247342;   
    text-align: center;
    font-weight: bold;
    max-width: 200px;
}

.arrow {
    color:#247342;   
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.other-projects-card-container{
    display: flex;
    flex-direction: column;

}

.other-projects-card {
    margin-bottom: 20px;
    max-width: 320px;
    
}

.other-projects {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* My thougths*/

.fir {
    width: 80%;
    height: 60%; 
    max-width: 350px;
    max-height: 350px;
}


.thougths-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.thougths {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.thougths-container h1,
 .skills h1, 
 .links2 h1, 
 .other-projects h1 {
    font-size: 22px;
    color: white;
    background-color:#438a5e;;   
    text-align: center;
    padding: 5px;
}

.thougths p {
    text-align: center;
}

/* HIDDEN THOUGTHSCARD MOBILE */

.thougths-card-hidden {
    display: none;
}





/* HIDDEN THOUGTHS MOBILE */

.hidden-thougths-container {
    display: none;
}

.hidden-thougths {
    display: none;
}




/* skills */


.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F4F4F4 0% 0% no-repeat padding-box;
}


.skill-boxes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill-boxes {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
}

.skill-boxes h2 {
    color:#247342;
    font-family: 'Montserrat';
    font-size: 17px;
}


.links2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


/* icons and links footer */

.icon-linkedin-bottom,.icon-github-bottom, .icon-stack-bottom {
    width: 70%;
    height:70%;
}

.bottom-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding-top: 10px; 
} 

.bottom-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:55px;
    height:55px;
    padding: 5px;
}


.icon-linkedin-bottom, .icon-github-bottom, .icon-stack-bottom { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    border: #438a5e solid 2px;
    border-radius: 50%;
    margin-right: 10px;
}
      
 
.icon-linkedin-bottom { 
    background-image: url('./img/iconmonstr-linkedin-1\ \(1\).svg');
}
    
.icon-github-bottom { 
    background-image: url('./img/github\ \(1\).svg');
}

.icon-stack-bottom {
    background-image: url('./img/stackOverflowRed.svg');
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e2408;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto';
    padding-bottom: 30px;

}

/** MEDIA QUERIES TABLET **/

@media screen and (min-width: 667px) and (max-width:1024px) {

.header-description {    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
     color: white;
}

.header-description h1 {
    font-size: 60px;
    max-width: 600px;
}

.profile-pic {
    position: absolute;
    top: 310px;
    right: 80px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


.header-links-container {
    max-width: 800px;
    margin-right: 30px;
}



.icon-linkedin, .icon-github, .icon-stack {
    margin-right: 150px;
}


.aboutMe {
    text-align: center;
}

.aboutMe p {
    font-size: 20px;
}

.fetured-projects-img-container{
    flex-wrap: wrap;
    flex-direction: row;
}

.other-projects-container {
    align-items: center;
}

.other-projects p {
    max-width: 400px;
}

.thougths p {
    max-width: 500px;
}

}


/** MEDIA QUERIES DESKTOP **/

@media screen and (min-width: 1024px) {

p {
   font-size:18px;
}

.header-portfolio-name  {
    font-size: 25px;
}

.header-description {   
    width: 50%; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-description h1 {
    font-size: 75px;
}

.header-portfolio {
    font-size: 20px;
}

.header-portfolio-name {
    font-size: 20px;
}

.profile-pic {
    position: absolute;
    top: 280px;
    right: 150px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}


.header-icon {
    width: 80px;
    height: 80px;
}

.icon-linkedin, .icon-github, .icon-stack {
    margin-right: 300px;
}

.aboutMe {
    text-align: center;
    padding: 50px 200px 50px 200px;
}

.aboutMe p {
    font-size: 22px;
}

.tech h1 {
    font-size: 30px;
}

.tech p {
    max-width: 500px;
    font-size: 20px;
}

.fetured-projects-container h1 {
    width: 350px;
    font-size: 30px;
}

.fetured-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.fetured-projects-title {
    max-width: 400px;
    padding: 10px 0px 10px ;
}

.fetured-projects-container a {
    margin: 30px;
}

.fetured-projects-hidden {
    display: contents;
    flex-direction: row;
    flex-wrap: wrap;
}

.other-projects-container {
    align-items: center;
}


.other-projects-card-container{
    display: flex;
    flex-direction: column;
}

.other-projects-card {
    margin: 20px;
    max-width: 600px;
}


.other-projects p {
max-width:400px;
}


.thougths p {
    max-width: 300px;
    font-size: 20px;
}


.displayed-thougths {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* HIDDEN THOUGTHS MOBILE, view desktop */

.thougths img {
    max-width: 400px;
    max-height: 270px;
}


.thougths {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.thougths-card-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-thougths-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden-thougths {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 50px;
}

.more-thougths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
}

.more-thougths a {
    display: flex;
    flex-direction: row;
}



.bottom-icon {
    width: 100px;
    height: 100px; 
    padding: 10px;  
}

.icon-linkedin-bottom, .icon-github-bottom, .icon-stack-bottom {
    width: 90%;
    height:90%;
}


}